<!DOCTYPE html>
<html>
<body>

<h2>Add Note</h2>

<form action="/add" method="POST">

<input type="text" name="title" placeholder="Title" required>

<br><br>

<textarea name="content" placeholder="Write your note..."></textarea>

<br><br>

<button type="submit">Save</button>

</form>

</body>
</html>