<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="loginBox">
        
        <form action="/signup" method="post">
               <h1>signup user</h1>
            <input type="text" id="username" name="username" placeholder="EnteruserName :">
            <input type="password" id="password" name="password" placeholder="EnterPassword :">
            <button type="submit" id="btn">Login</button>
        </form>
        
     </div>     
</body>
</html>