<!DOCTYPE html>
<html>

<head>
<title>Add Project</title>
</head>

<body>

<h2>Add Project</h2>

<form action="/add" method="POST">

<input type="text" name="title" placeholder="Project Title" required>

<br><br>

<textarea name="description" placeholder="Project Description"></textarea>

<br><br>

<button type="submit">Add</button>

</form>

</body>
</html>