<!DOCTYPE html>
<html>
<body>

<h2>Write Blog</h2>

<form action="/add" method="POST">

<input type="text" name="title" placeholder="Title" required>

<br><br>

<textarea name="content" placeholder="Write your blog..." rows="10"></textarea>

<br><br>

<button type="submit">Publish</button>

</form>

</body>
</html>